<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security secured-annotations="enabled" />


	<http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_USER" />
	</http>


	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="marco" password="marco" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	<!-- <authentication-manager> -->
	<!-- <authentication-provider> -->
	<!-- <jdbc-user-service data-source-ref="dataSource" -->
	<!-- users-by-username-query="select username, password, enabled from -->
	<!-- user_authentication where username=?" -->
	<!-- authorities-by-username-query="select username, authority from -->
	<!-- user_authorization where username =? " /> -->
	<!-- </authentication-provider> -->
	<!-- </authentication-manager> -->

</beans:beans>