<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<access-denied-handler error-page ="/error" />
		<intercept-url pattern="/areaAmministrazione**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/paziente**" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login" login-processing-url="/j_spring_security_check"
			default-target-url="/" authentication-failure-url="/login" />
		<logout logout-success-url="/" logout-url="/logout" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
		<authentication-provider>
		<password-encoder hash="bcrypt" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,TRUE from Utente where username = ?"
				authorities-by-username-query="select username,role from Utente where username = ?" />
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="org.postgresql.Driver" />
		<beans:property name="url"
			value="jdbc:postgresql://localhost:5432/clinica" />
		<beans:property name="username" value="postgres" />
		<beans:property name="password" value="postgres" />
	</beans:bean>
</beans:beans>